<template>
  <div>
          <v-calendar class="v-calendar" :attributes='calendarAttributes'>
          </v-calendar>
          <div class="list-group fs-mini">
            <span v-html="todayHtml"></span>
            <!-- <a href="#" class="list-group-item text-ellipsis">
              <span class="badge badge-pill badge-warning float-right">6:45</span>
              Weed out the flower bed
            </a>
            <a href="#" class="list-group-item text-ellipsis">
              <span class="badge badge-pill badge-success float-right">9:41</span>
              Stop world water pollution
            </a> -->
          </div>
  </div>
</template>

<script>
/* eslint-disable */
import Vue from 'vue';
import Widget from '@/components/Widget/Widget';
import '@lazy-copilot/datetimepicker/dist/datetimepicker.css'
import { DateTimePicker } from "@lazy-copilot/datetimepicker";
import axios from "axios";
import { nextTick } from 'q';
import { get } from 'http';
import { setTimeout } from 'timers';

var todos = [];
var events = [];
var eventBody = {
  "typeId": "com.siemens.mindsphere.eventmgmt.event.type.MindSphereStandardEvent",
	"timestamp": '',
	"entityId": "ed68e42a946441bc8b2a2a54ebb174b2",
	"severity": 1,
	"description": '',
	"code": "tbe1",
	"acknowledged": false
}

export default {
  name: 'Maintenance',
  components: { 
      Widget,
      DateTimePicker
   },
   data() {
    return {
      todos,
        time: null,
        date: new Date().toISOString(),
        menu: false,
        modal: false,
        htmlContent: ``,
        todayHtml: ``,
        events,
        eventBody,
        calendarAttributes: [ ]
    }
  },
    methods: {
     async getEnvents() {
      try {
        let res = await axios.get('/api/eventmanagement/v3/events/');
         events = [];
         var temp = res.data._embedded.events;
         for(var i=0;i<temp.length;i++) {
                   if( temp[i].entityId == "ed68e42a946441bc8b2a2a54ebb174b2") {
                     events.push(temp[i]);
                   }
          }
          todos = []
          this.todayHtml = ``
            var todo;
            for(var i = 0; i < events.length;++i){
                todo = {
                  description: '',
                  isComplete: false,
                  dates: '', 
                  color: '',
                }
                todo.description = events[i].description;
                todo.dates = events[i].timestamp;
                if (events[i].severity == 1) {
                  todo.color = 'red'
                }
                if (events[i].severity == 2) {
                  todo.color = 'yellow'
                }
                if (events[i].severity == 3) {
                  todo.color = 'green'
                }
                todos.push(todo);

                // Create Today List
                var today = new Date().toISOString().slice(0,10);
                console.log('fucking day:' + new Date().toISOString(),todos[i].dates.slice(0,10))
                if (todos[i].dates.slice(0,10) == today) {
                    if (todos[i].color == 'yellow') {
                      this.todayHtml += ` <a href="#" class="list-group-item text-ellipsis">
                        <span class="badge badge-pill badge-warning float-right">` + todos[i].dates.slice(11,16) + `</span>`
                        + todos[i].description + `</a>`
                    }
                    if (todos[i].color == 'red') {
                      this.todayHtml += ` <a href="#" class="list-group-item text-ellipsis">
                        <span class="badge badge-pill badge-danger float-right">` + todos[i].dates.slice(11,16) + `</span>`
                        + todos[i].description + `</a>`
                    }
                    if (todos[i].color == 'green') {
                      this.todayHtml += ` <a href="#" class="list-group-item text-ellipsis">
                        <span class="badge badge-pill badge-success float-right">` + todos[i].dates.slice(11,16) + `</span>`
                        + todos[i].description + `</a>`
                    }
                   }
                
            }

            // Create Calendar Attributes
            this.calendarAttributes = [
              // Today attribute
                  {
                    contentStyle: {
                      fontWeight: '700',
                      fontSize: '.9rem',
                    },
                    dates: new Date(),
                  },
                  // Attributes for todos
                  ...todos.map(todo => ({
                    dates: todo.dates,
                    dot: {
                      backgroundColor: todo.color,
                      opacity: todo.isComplete ? 0.3 : 1,
                    },
                    popover: {
                      label: todo.description,
                    },
                  })),
            ]
      }catch(err){
        console.log(err);
      }
      setTimeout(this.getEnvents,1000);
    },
    onChange: function(data) {
      this.date = data.startDate.toISOString().slice(0, 11) + data.startTime.kk + ':' + data.startTime.mm + ':00.000Z';
      console.log(this.date);
    },
    createHtml: function() {
      for(var i = 0; i < events.length;++i) {
        this.htmlContent += `<a class="list-group-item" href="#">
                <div class="float-left">
                <span class="badge badge-pill badge-danger">
                </span>
                </div>
                <div>
                  <h6 class="m-0">` + events[i].timestamp + `</h6>`+
                  `<p class="help-block text-ellipsis m-0">` +
                  events[i].description + `</p>
                </div>
              </a>`
      }
   
    },
    createTodos: function() {
      todos = []
      var todo;
      for(var i = 0; i < events.length;++i){
          todo = {
            description: '',
            isComplete: false,
            dates: '', 
            color: '',
          }
          try{
          todo.description = events[i].description;
          }catch(e) {
            console.log(events[i].description);
          }
          todo.dates = events[i].timestamp;
          if (events[i].severity == 1) {
            todo.color = '#ff8080' //Red
          }
          todos.push(todo);
      }
    },
    createTodayList() {
      var today = new Date().toISOString().slice(0,10);
      for(var i = 0; i < this.todos.length;++i) {
          if (todos[i].dates.slice(0,10) == today) {
            this.todayHtml += ` <a href="#" class="list-group-item text-ellipsis">
              <span class="badge badge-pill badge-warning float-right">` + todos[i].dates.slice(11,16) + `</span>`
              + todos[i].description + `</a>`
          }
      }
    },
    async createEvent() {
        this.eventBody.timestamp = this.date;
        var testing = {
                  "typeId": "com.siemens.mindsphere.eventmgmt.event.type.MindSphereStandardEvent",
                  "timestamp": '2019-07-27T13:00:00.000Z',
                  "entityId": "ed68e42a946441bc8b2a2a54ebb174b2",
                  "severity": 1,
                  "description": "Creation test by Nick",
                  "code": "tbe1",
                  "acknowledged": false
                }
        axios.post('/api/eventmanagement/v3/events', this.eventBody)
          .then(function (response) {
            console.log("Create Successfully!!");
            console.log(response);
          })
          .catch(function (error) {
            console.log(error);
          });

    }
  },
    computed: {
  },
  created() {
    this.getEnvents();
  },
  mounted() {
  },
};
</script>
<style src="./EventCalendar.scss" lang="scss" />