<template>
  <div class="vue-leaflet">
    <l-map style="width: 100%; height: 500px;" :zoom="zoom" :center="center">
      <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
      <l-marker :lat-lng="marker">
        <l-popup :content="text"></l-popup>
      </l-marker>
    </l-map> 
  </div>
</template>

<script>
/* eslint-disable */
import { LMap, LTileLayer, LMarker, LPopup } from 'vue2-leaflet';

export default {
  name: 'VueLeaflet',
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LPopup
  },
  data () {
    return {
      zoom: 8,
      center: L.latLng(25.056602,121.6159273),
      url: 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
      attribution: '&copy; <a href="http://osm.org/copyright">Siemens Taiwan</a> contributors',
      marker: L.latLng(25.056602,121.6159273),
      text: 'Automation Show'
    }
  }
}
</script>

<style scoped>

</style>