<template>
  <div class="dashboard-page">
    <h1 class="page-title"><b>2019 TAIPEI Automation Dashboard &nbsp;</b>
      <!-- <small>
        <small>The Lucky One<button v-on:click="notification">Notification</button></small>
      </small> -->
    </h1>
    <b-row>
       <b-col lg="6" xs="12" style="height:100%;">
         <Widget>
           <img style="height:50px;" src="../../assets/logos/logo_TUTK.png"/>
           <hr>
          <div class="widget-body p-1">
         <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
            <iframe class="embed-responsive-item" src="https://idc-stg-be-docker.kalay.us:8864/siemens/?device=ECCTACFEH7671GPPMGWJ" scrolling="no" allowfullscreen></iframe>
         </div>
          </div>
         </Widget>
       </b-col>
       <b-col lg="6" xs="12" style="height:100%;">
         <Widget>
           <EventCalendar/>
         </Widget>
       </b-col>
    </b-row>
    <br>
      <b-row>
      <!-- <b-col lg="12" xs="12"> -->
      <!-- <Widget>
        <TDModel/>
      </Widget> -->
      <!-- </b-col> -->
    </b-row>
    <b-row>
      <b-col lg="6" >
        <Widget class="bg-transparent">
          <LMap />
        </Widget>
      </b-col>
      <!-- <b-col lg="5" offset-lg="1"> -->
        <b-col lg="6" offset-lg="0">
        <Widget
          class="bg-transparent"
          title="<h5>Plants<span class='fw-semi-bold'>&nbsp; Map</span></h5>"
          customHeader
        >
          <p>Status: <strong>Live</strong></p>
          <p>
            <span class="circle bg-warning text-white"><i class="fa fa-map-marker" /></span> &nbsp;
            115台北市南港區經貿二路1號
          </p>
          <div class="row progress-stats">
            <div class="col-md-9 col-12">
              <h6 class="name">Pressure</h6>
              <p class="description deemphasize mb-xs">Range of max to min</p>
              <b-progress variant="primary" :value="this.range[0][0]" :max="100" class="bg-white progress-xs" />
            </div>
            <div class="col-md-3 col-12 text-center">
              <span class="status rounded rounded-lg bg-widget">
                <span><animated-number :value="this.range[0][0]"
                                       :round="true"
                                       :duration="1000"
                                       :delay="1500" />%</span>
              </span>
            </div>
          </div>
          <div class="row progress-stats">
            <div class="col-md-9 col-12">
              <h6 class="name">Temperature</h6>
              <p class="description deemphasize mb-xs">Range of max to min</p>
              <b-progress variant="danger" :value="this.range[1][0]" :max="100" class="bg-white progress-xs" />
            </div>
            <div class="col-md-3 col-12 text-center">
              <span class="status rounded rounded-lg bg-widget">
                <span><animated-number :value="this.range[1][0]"
                                       :round="true"
                                       :duration="1000"
                                       :delay="1500" />%</span>
              </span>
            </div>
          </div>
          <div class="row progress-stats">
            <div class="col-md-9 col-12">
              <h6 class="name">Voltage</h6>
              <p class="description deemphasize mb-xs">Range of max to min</p>
              <b-progress variant="success" :value="this.range[2][0]" :max="100" class="bg-white progress-xs" />
            </div>
            <div class="col-md-3 col-12 text-center">
              <span class="status rounded rounded-lg bg-widget">
                <span><animated-number :value="this.range[2][0]"
                                       :round="true"
                                       :duration="1000"
                                       :delay="1500" />%</span>
              </span>
            </div>
          </div>
          <h6 class="fw-semi-bold mt">Map Distributions</h6>
          <p>Tracking: <strong>Active</strong></p>
          <p>
            <span class="circle bg-warning text-white"><i class="fa fa-cog" /></span>
            &nbsp; 1 demo case located, 1 set
          </p>
          <b-input-group class="mt">
            <b-form-input />
            <b-input-group-append>
              <b-btn variant="default">
                <i class="fa fa-search text-gray" />
              </b-btn>
            </b-input-group-append>
          </b-input-group>
        </Widget>
      </b-col>
    </b-row>

    <b-row>
      <b-col lg="4" xs="12">
        <Widget>
        <PressureData/>
        </Widget>
      </b-col>
      <b-col lg="4" xs="12">
        <Widget>
        <TemperatureData/>
        </Widget>
      </b-col>
      <b-col lg="4" xs="12">
        <Widget>
        <VoltageData/>
        </Widget>
      </b-col>
      <b-col lg="12" xs="12">
        <Widget>
          <RealTime/>
        </Widget>
      </b-col>
    </b-row>
  </div>
</template>

<script>
/* eslint-disable */
import Vue from 'vue';
import Widget from '@/components/Widget/Widget';
import Map from './components/Map/Map';
import amMap from './components/Map/amMap';
import LMap from './components/Map/LMap';
import AnimatedNumber from "animated-number-vue";
import AreaChart from './components/AreaChart/AreaChart';
import Aggregate from './components/AspectChart/Aggregate';
import RealTime from './components/AspectChart/RealTime'
import RealTimeData from './components/AspectChart/RealTimeData'
import PressureData from './components/AspectChart/PressureData'
import TemperatureData from './components/AspectChart/TemperatureData'
import VoltageData from './components/AspectChart/VoltageData'
import TemperChart from './components/AspectChart/TemperChart'
import TDModel from './components/TDModel/TDModel'
import EventCalendar from './components/EventCalendar/EventCalendar'
import axios from "axios";

const todos = [
  {
    description: 'Take Sebastian to basketball practice.',
    isComplete: false,
    dates: { weekdays: 6, weeklyInterval: 2 }, // Every other Friday
    color: '#ff8080',       // Red
  },
  {
    description: 'German courses',
    isComplete: false,
    dates: new Date(),
    color: '#64a4ff',       // Red
  },
  {
    description: 'Constitution Day',
    isComplete: false,
    dates: new Date(Date.now() + 6*24*60*60*1000), // in 6 days
    color: '#6ae696',       // Red
  },
];

var test = [];

export default {
  name: 'Dashboard',
  components: {
    token: '12345',
    Widget,
    Map,
    amMap,
    LMap,
    AnimatedNumber,
    AreaChart,
    Aggregate,
    RealTime,
    RealTimeData,
    PressureData,
    TemperatureData,
    VoltageData,
    TemperChart,
    TDModel,
    EventCalendar
  },
  data() {
    return {
      range: [[],[],[]],
      checkedArr: [false, false, false],
      dataCollection: null,
      todos,
      test
    };
  },
  mounted () {
    this.fillData();
    this.getData();
     this.token = this.$store.state.token.token
  },
  methods: {
    notification() {
      var body = {
        "body": {
        "name":"test",
        "message":"Sample message as mail body"
        },
        "messageCategoryId":3388,
        "recipientsTo":"nick.chung@siemens.com",
        "from":"training@mindsphere.io",
        "subject":"MindSphere Academy Training (please ignore)",
        "priority":3
      }
      axios.post('/api/notification/v3/publisher/messages',body)
        .then(function (res) {
          console.log('Successfully!!');
        })
        .catch(function (err) {
          console.log(err);
        });
    },
    checkTable(id) {
      let arr = [];
      if (id === 0) {
        const val = !this.checkedArr[0];
        for (let i = 0; i < this.checkedArr.length; i += 1) {
          arr[i] = val;
        }
      } else {
        arr = this.checkedArr;
        arr[id] = !arr[id];
      }
      if (arr[0]) {
        let count = 1;
        for (let i = 1; i < arr.length; i += 1) {
          if (arr[i]) {
            count += 1;
          }
        }
        if (count !== arr.length) {
          arr[0] = !arr[0];
        }
      }
      Vue.set(this, 'checkedArr', arr);
    },
    fillData () {
      this.dataCollection = {
        labels: [this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt()],
        datasets: [
          {
            label: 'Data One',
            backgroundColor: '#f87979',
            borderColor: 'transparent',
            data: [this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt()]
          }, {
            label: 'Data Two',
            backgroundColor: '#7c87f8',
            borderColor: 'transparent',
            data: [this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt()]
          }
        ]
      }

      setTimeout(this.fillData, 3000);
    },
    getRandomInt () {
      return Math.floor(Math.random() * (50 - 5 + 1)) + 5
    },
     async getData() {
            var x;
            var y;
            var max;
            var min;
            var date = new Date().toISOString().toString().slice(0,10);
            console.log(date);
            try{
                this.range = [[],[],[]]
                let res = await axios.get('/api/iottsaggregates/v3/aggregates/70901658acc744c98a213a19df39f98a/demo?from='+ date +'T00:00:00%2B01:00&to='+ date +'T23:00:00%2B01:00&intervalValue=1&intervalUnit=hour');
                var data = res.data;
                for(var i=0;i<data.length;++i){
                  x = data[i].endtime;
                  if("Temperature" in data[i]) {
                   y = data[i]["Temperature"].average;
                   max = data[i]["Temperature"].maxvalue;
                   min = data[i]["Temperature"].minvalue;
                    var num = Math.floor(((max - min) / y) * 100);
                    this.range[1].push(num)
                  }
                    if("Voltage" in data[i]) {
                    var y2 = data[i]["Voltage"].average;
                    max = data[i]["Voltage"].maxvalue;
                   min = data[i]["Voltage"].minvalue;
                    var num = Math.floor(((max - min) / y2) * 100);
                    this.range[2].push(num)
                    }
                    if("Pressure" in data[i]) {
                    var y3 = data[i]["Pressure"].average;
                    max = data[i]["Pressure"].maxvalue;
                   min = data[i]["Pressure"].minvalue;
                    var num = Math.floor(((max - min) / y3) * 100);
                    this.range[0].push(num)
                    }
                }
            }catch(err) {
                console.log(err);
            }
            setTimeout(this.getData, 30000);
        }
  },
  computed: {
    calendarAttributes() {
      return [
        // Today attribute
        {
          contentStyle: {
            fontWeight: '700',
            fontSize: '.9rem',
          },
          dates: new Date(),
        },
        // Attributes for todos
        ...this.todos.map(todo => ({
          dates: todo.dates,
          dot: {
            backgroundColor: todo.color,
            opacity: todo.isComplete ? 0.3 : 1,
          },
          popover: {
            label: todo.description,
          },
        })),
      ];
    },
  },
  // ready: function () {
  //   // setInterval(function () {
  //   //   this.$router.push('/tables')
  //   // }.bind(this), 0); 
  //   this.fillData();
  // }
};
</script>

<style src="./Dashboard.scss" lang="scss" />
