<template>
    <div>
        <h1 class="page-title">
      <span class="fw-semi-bold">Charts</span>
    </h1>
        <!-- <Widget>
        <SparkLines/>
        </Widget> -->
        <Widget
         title="<h2><b>Real Time Data</b></h2>"
          customHeader>
          <hr>
        <RealTime/>
        </Widget>
        <Widget
        title="<h2><b>Voltage Chart</b></h2>"
          customHeader>
          <hr>
        <VoltageChart/>
        </Widget>
        <Widget
        title="<h2><b>Pressure Chart</b></h2>"
          customHeader>
          <hr>
        <PressureChart/>
        </Widget>
        <Widget
        title="<h2><b>Temperature Chart</b></h2>"
          customHeader>
            <hr>
        <TemperChart/>
        </Widget>
    </div>
</template>

<script>
/* eslint-disable */
import Vue from 'vue';
import Widget from '@/components/Widget/Widget';
import Aggregate from '../Dashboard/components/AspectChart/Aggregate';
import RealTime from '../Dashboard/components/AspectChart/RealTime'
import RealTimeData from '../Dashboard/components/AspectChart/RealTimeData'
import TemperChart from '../Dashboard/components/AspectChart/TemperChart'
import SparkLines from '../Dashboard/components/AspectChart/SparkLines'
import VoltageChart from '../Dashboard/components/AspectChart/VoltageChart'
import PressureChart from '../Dashboard/components/AspectChart/PressureChart'


export default {
components: {
    Widget,
    Aggregate,
    RealTime,
    RealTimeData,
    TemperChart,
    SparkLines,
    VoltageChart,
    PressureChart
  },
}
</script>