<template>
  <div>
    <!-- <b-breadcrumb>
      <b-breadcrumb-item href="/app/dashboard">Dashboard</b-breadcrumb-item>
      <b-breadcrumb-item active>Maintenance</b-breadcrumb-item>
    </b-breadcrumb> -->
    <h1 class="page-title">
      <span class="fw-semi-bold">Maintenance</span>
    </h1>
    <b-container>
    <b-row>
        <b-col lg="12">
    <Widget
              title="<h4>Events</h4>" customHeader>
              <hr>
              <EventCalendar/>
              <!-- <v-calendar class="v-calendar" :attributes='calendarAttributes'> -->
          <!-- </v-calendar> -->
          <!-- <div class="list-group fs-mini">
            <span v-html="todayHtml"></span>
            <a href="#" class="list-group-item text-ellipsis">
              <span class="badge badge-pill badge-warning float-right">6:45</span>
              Weed out the flower bed
            </a>
            <a href="#" class="list-group-item text-ellipsis">
              <span class="badge badge-pill badge-success float-right">9:41</span>
              Stop world water pollution
            </a>
          </div> -->
    </Widget>
        </b-col>
    </b-row>
    <!-- form -->
    <b-row>
        <b-col lg="6">
            <Widget
          title="Maintenance Form"
          
          >
                <form class="mt" @submit.prevent="createEvent">
                <!-- <b-alert class="alert-sm" variant="danger" :show="!!errorMessage">
                    {{errorMessage}}
                </b-alert> -->
                <b-form-group label="Time" label-for="time-input">
                <!-- date -->
                                    <date-time-picker    
                                      :date ="date"
                                      :singleDate = "true"              
                                      @onChange = "onChange"     
                                    />
                <!-- date -->
                </b-form-group>
                <b-form-group label="Severity" label-for="severity-input">
                    <b-input-group class="input-group-transparent">
                    <!-- <b-input-group-text slot="prepend"><i class="fa fa-cube text-white"></i></b-input-group-text> -->
                    <!-- <i class="fa fa-cube text-white"></i> -->
                    <!-- <b-form-input id="severity-input"
                                    class="input-transparent pl-0"
                                    type="number"
                                    v-model="eventBody.severity"
                                    required
                                    placeholder="Severity" /> -->
                                    <b-form-radio v-model="selected" name="some-radios" value="1">1</b-form-radio> &nbsp; &nbsp;
                                    <b-form-radio v-model="selected" name="some-radios" value="2">2</b-form-radio> &nbsp; &nbsp;
                                    <b-form-radio v-model="selected" name="some-radios" value="3">3</b-form-radio>
                    </b-input-group>
                </b-form-group>
                <b-form-group label="Description" label-for="text-input">
                    <b-input-group class="input-group-transparent">
                    <b-input-group-text slot="prepend"><i class="fa fa-file-word-o text-white"></i></b-input-group-text>
                    <b-form-input id="text-input"
                                    class="input-transparent pl-0"
                                    type="text"
                                    v-model="eventBody.description"
                                    required
                                    placeholder="Description" />
                    </b-input-group>
                </b-form-group>
                <div class="widget-middle-overflow bg-widget mt-4 px-4 py-3">
                    <b-button class="btn-block btn-lg fs-normal" type="submit" variant="danger">
                    <span class="login-circle"><i class="fa fa-caret-right"></i></span>
                    Submit
                    </b-button>
                </div>
                </form>
            </Widget>
        </b-col>
    <!-- form -->
    <!-- message -->
        <b-col lg="6">
            <Widget
          title="<h6>Events</h6>"
          customHeader
        >
          <div class="widget-body p-0">
            <div class="list-group list-group-lg">
              <span v-html="htmlContent"></span>
            </div>
          </div>
          <footer class="bg-widget mt">
            <input type="search" class="form-control form-control-sm" placeholder="Search" />
          </footer>
        </Widget>
        </b-col>
    </b-row>
    <!-- message -->
    </b-container>
  </div>
</template>

<script>
/* eslint-disable */
import Vue from 'vue';
import Widget from '@/components/Widget/Widget';
import '@lazy-copilot/datetimepicker/dist/datetimepicker.css'
import { DateTimePicker } from "@lazy-copilot/datetimepicker";
import axios from "axios";
import { nextTick } from 'q';
import { get } from 'http';
import EventCalendar from '../Dashboard/components/EventCalendar/EventCalendar'

var todos = [];
var events = [];
var eventBody = {
  "typeId": "com.siemens.mindsphere.eventmgmt.event.type.MindSphereStandardEvent",
	"timestamp": '',
	"entityId": "ed68e42a946441bc8b2a2a54ebb174b2",
	"severity": 1,
	"description": '',
	"code": "tbe1",
	"acknowledged": false
}

export default {
  name: 'Maintenance',
  components: { 
      Widget,
      DateTimePicker,
      EventCalendar
   },
   data() {
    return {
      selected: 1,
      todos,
        time: null,
        date: new Date().toISOString(),
        menu: false,
        modal: false,
        htmlContent: ``,
        todayHtml: ``,
        events,
        eventBody,
        calendarAttributes: [
        // Today attribute
        {
          contentStyle: {
            fontWeight: '700',
            fontSize: '.9rem',
          },
          dates: new Date(),
        },
        // Attributes for todos
        ...todos.map(todo => ({
          dates: todo.dates,
          dot: {
            backgroundColor: todo.color,
            opacity: todo.isComplete ? 0.3 : 1,
          },
          popover: {
            label: todo.description,
          },
        })),
      ]
    }
  },
    methods: {
     async getEnvents() {
      try {
        let res = await axios.get('/api/eventmanagement/v3/events/');
         events = [];
         var temp = res.data._embedded.events;
         for(var i=0;i<temp.length;i++) {
                   if( temp[i].entityId == "ed68e42a946441bc8b2a2a54ebb174b2") {
                     events.push(temp[i]);
                   }
          }
          this.createHtml();
      }catch(err){
        console.log(err);
      }
      setTimeout(this.getEnvents,1000)
    },
    onChange: function(data) {
      this.date = data.startDate.toISOString().slice(0, 11) + data.startTime.kk + ':' + data.startTime.mm + ':00.000Z';
      console.log(this.date);
    },
    createHtml: function() {
       this.htmlContent= ``
      for(var i = 0; i < events.length;++i) {
         this.htmlContent += `<a class="list-group-item" href="#">
                <div>
                  <h6 class="m-0">` + events[i].timestamp + `</h6>`+
                  `<p class="help-block text-ellipsis m-0">` +
                  events[i].description + `</p>
                </div>
              </a>`
      }
    },
    createTodos: function() {
      todos = []
      var todo;
      for(var i = 0; i < events.length;++i){
          todo = {
            description: '',
            isComplete: false,
            dates: '', 
            color: '',
          }
          try{
          todo.description = events[i].description;
          }catch(e) {
            console.log(events[i].description);
          }
          todo.dates = events[i].timestamp;
          if (events[i].severity == 1) {
            todo.color = '#ff8080' //Red
          }
          todos.push(todo);
      }
    },
    createTodayList() {
      var today = new Date().toISOString().slice(0,10);
      for(var i = 0; i < this.todos.length;++i) {
          if (todos[i].dates.slice(0,10) == today) {
            this.todayHtml += ` <a href="#" class="list-group-item text-ellipsis">
              <span class="badge badge-pill badge-warning float-right">` + todos[i].dates.slice(11,16) + `</span>`
              + todos[i].description + `</a>`
          }
      }
    },
    async createEvent() {
        this.eventBody.timestamp = this.date;
        this.selected = parseInt(this.selected);
        this.eventBody.severity = this.selected;
        var testing = {
                  "typeId": "com.siemens.mindsphere.eventmgmt.event.type.MindSphereStandardEvent",
                  "timestamp": '2019-07-27T13:00:00.000Z',
                  "entityId": "ed68e42a946441bc8b2a2a54ebb174b2",
                  "severity": 1,
                  "description": "Creation test by Nick",
                  "code": "tbe1",
                  "acknowledged": false
                }
        axios.post('/api/eventmanagement/v3/events', this.eventBody)
          .then(function (response) {
            alert("Create Successfully!!");
            console.log("Create Successfully!!");
            console.log(response);
          })
          .catch(function (error) {
            console.log(error);
          });

    }
  },
    computed: {
  },
  created() {
    this.getEnvents();
  },
  mounted() {
		
  },
};
</script>

<style src="./Maintenance.scss" lang="scss" />