<template>
  <div class="dashboard-page">
      <h1 class="page-title">
          <img style="height:75px;" src="@/assets/logos/ORISOL-LOGO-1500px.png" alt="ORISOL">
    </h1>
    <b-row>
      <b-col lg="6" xs="12" style="height:100%;">
        <b-row>
          <b-col lg="12" xs="12">
             <Widget 
              title="<h1> <b>ONS-3020</b></h1>"
              customHeader
              style="height:95%;"
              >
              <hr>
              <div class="widget-body p-1">
                  <center>
                  <img style="height:500px;border-radius:12px;" src="@/assets/pouchen/ONS-3020.jpg" alt="ONS-3020">
                  </center>
              </div>
            </Widget>
          </b-col>
        </b-row>
        <b-row>
          <b-col lg="12" xs="12">
             <Widget
              title="<h4> <b>Production Flow</b> </h4>"
              customHeader
              style="height:100%;">
              <hr>
              <br>
              <br>
              <div class="widget-body p-0">
                  <center>
                    <LineChart2/>
                  </center>
              </div>
              </Widget>
          </b-col>
        </b-row>
      </b-col>
        <b-col lg="6" xs="12" style="height:100%;">
            <b-row>
                <b-col lg="6" xs="12">
                    <b-row style="height:200px">
                        <md-card style="border-radius:12px;background-color:rgb(18,52,137);height:95%;width:95%" class="md-primary" md-theme="orange-card" md-with-hover>
                        <md-ripple>
                            <md-card-header>
                            <div class="md-title"><font color="white">Production</font></div>
                            <div class="md-subhead">&nbsp;</div>
                            </md-card-header>
                            <br>
                            <br>
                            <md-card-content>
                                <Production/>
                            </md-card-content>
                        </md-ripple>
                        </md-card>
                    </b-row>
                    <b-row style="height:200px">
                        <md-card style="border-radius:12px;background-color:rgb(228,161,192);height:95%;width:95%" class="md-primary" md-theme="orange-card" md-with-hover>
                        <md-ripple>
                            <md-card-header>
                            <div class="md-title"><font color="white">Power Up</font></div>
                            <div class="md-subhead">&nbsp;</div>
                            </md-card-header>
                            <br>
                            <br>
                            <md-card-content>
                                <Timer/>
                            </md-card-content>
                        </md-ripple>
                        </md-card>
                    </b-row>
                    <b-row style="height:200px">
                        <md-card style="border-radius:12px;background-color:rgb(209,48,125);height:95%;width:95%" class="md-primary" md-theme="orange-card" md-with-hover>
                        <md-ripple>
                            <md-card-header>
                            <div class="md-title"><font color="white">Editing</font></div>
                            <div class="md-subhead">&nbsp;</div>
                            </md-card-header>
                            <br>
                            <br>
                            <md-card-content>
                                <Timer/>
                            </md-card-content>
                        </md-ripple>
                        </md-card>
                    </b-row>
                </b-col>
                <b-col lg="6" xs="12">
                    <b-row style="height:200px">
                        <md-card style="border-radius:12px;background-color:rgb(217,96,47);height:95%;width:95%" class="md-primary" md-theme="orange-card" md-with-hover>
                        <md-ripple>
                            <md-card-header>
                            <div class="md-title"><font color="white">Sewing</font></div>
                            <div class="md-subhead">&nbsp;</div>
                            </md-card-header>
                            <br>
                            <br>
                            <md-card-content>
                                <Sewing/>
                            </md-card-content>
                        </md-ripple>
                        </md-card>
                    </b-row>
                    <b-row style="height:200px">
                        <md-card style="border-radius:12px;background-color:rgb(232,160,85);height:95%;width:95%" class="md-primary" md-theme="orange-card" md-with-hover>
                        <md-ripple>
                            <md-card-header>
                            <div class="md-title"><font color="white">Loading</font></div>
                            <div class="md-subhead">&nbsp;</div>
                            </md-card-header>
                            <br>
                            <br>
                            <md-card-content>
                                <Timer/>
                            </md-card-content>
                        </md-ripple>
                        </md-card>
                    </b-row>
                    <b-row style="height:200px">
                        <md-card style="border-radius:12px;background-color:rgb(240,190,81);height:95%;width:95%" class="md-primary" md-theme="orange-card" md-with-hover>
                        <md-ripple>
                            <md-card-header>
                            <div class="md-title"><font color="white">Idle</font></div>
                            <div class="md-subhead">&nbsp;</div>
                            </md-card-header>
                            <br>
                            <br>
                            <md-card-content>
                                <Timer/>
                            </md-card-content>
                        </md-ripple>
                        </md-card>
                    </b-row>
                </b-col>
            </b-row>
            <br>
            <br>
          <b-row>
            <b-col lg="12" xs="12" style="height:95%">
              <Widget
                title="<h2> <b>Status</b></h2>"
                customHeader
                style="height:100%;">
                <hr>
                <div class="widget-body p-0">
                    <PieChart2/>
                </div>
                </Widget>
            </b-col>
          </b-row>
        </b-col>
    </b-row>
  </div>
</template>

<script>
/* eslint-disable */
import Vue from 'vue';
import Widget from '@/components/Widget/Widget';
import AnimatedNumber from "animated-number-vue";
import RadialBar from './components/RadialBar';
import PieChart2 from './components/PieChart2';
import LineChart2 from './components/LineChart2';
import Timer from './components/Timer';
import Production from './components/Production';
import Sewing from './components/Sewing';
import axios from "axios";

// const aggregateChart = document.querySelector('mdsp-aggregate-chart');

// aggregateChart.variablePaths = 'ed68e42a946441bc8b2a2a54ebb174b2/aspect_Virtual_Motor_Condition';

const todos = [
  {
    description: 'Take Sebastian to basketball practice.',
    isComplete: false,
    dates: { weekdays: 6, weeklyInterval: 2 }, // Every other Friday
    color: '#ff8080',       // Red
  },
  {
    description: 'German courses',
    isComplete: false,
    dates: new Date(),
    color: '#64a4ff',       // Red
  },
  {
    description: 'Constitution Day',
    isComplete: false,
    dates: new Date(Date.now() + 6*24*60*60*1000), // in 6 days
    color: '#6ae696',       // Red
  },
];

var test = [];

export default {
  name: 'Dashboard',
  components: {
    Widget,
    AnimatedNumber,
    RadialBar,
    PieChart2,
    LineChart2,
    Timer,
    Production,
    Sewing
  },
  data() {
    return {
      checkedArr: [false, false, false],
      dataCollection: null,
      todos,
      test,
    };
  },
  mounted () {
    this.fillData();
    this.getData();
  },
  methods: {
    checkTable(id) {
      let arr = [];
      if (id === 0) {
        const val = !this.checkedArr[0];
        for (let i = 0; i < this.checkedArr.length; i += 1) {
          arr[i] = val;
        }
      } else {
        arr = this.checkedArr;
        arr[id] = !arr[id];
      }
      if (arr[0]) {
        let count = 1;
        for (let i = 1; i < arr.length; i += 1) {
          if (arr[i]) {
            count += 1;
          }
        }
        if (count !== arr.length) {
          arr[0] = !arr[0];
        }
      }
      Vue.set(this, 'checkedArr', arr);
    },
    fillData () {
      this.dataCollection = {
        labels: [this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt()],
        datasets: [
          {
            label: 'Data One',
            backgroundColor: '#f87979',
            borderColor: 'transparent',
            data: [this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt()]
          }, {
            label: 'Data Two',
            backgroundColor: '#7c87f8',
            borderColor: 'transparent',
            data: [this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt(),this.getRandomInt(), this.getRandomInt()]
          }
        ]
      }

      setTimeout(this.fillData, 3000);
    },
    getRandomInt () {
      return Math.floor(Math.random() * (50 - 5 + 1)) + 5
    },
    getData() {
        // axios.get('https://semens-practice.herokuapp.com/api/v1/')
        // .then(function (res) {
        //   // console.log(res);
        //   // console.log(res.data[0]['R1axisLoad']);
        //   // console.log(res.data);
        //   // console.log(res.data[0]);
        //   test = res.data;
        //   console.log(test[7])
          
        // })
        // .catch(function (err) {
        //   console.log(err);
        // });
    }
  },
  computed: {
    calendarAttributes() {
      return [
        // Today attribute
        {
          contentStyle: {
            fontWeight: '700',
            fontSize: '.9rem',
          },
          dates: new Date(),
        },
        // Attributes for todos
        ...this.todos.map(todo => ({
          dates: todo.dates,
          dot: {
            backgroundColor: todo.color,
            opacity: todo.isComplete ? 0.3 : 1,
          },
          popover: {
            label: todo.description,
          },
        })),
      ];
    },
  },
  // ready: function () {
  //   // setInterval(function () {
  //   //   this.$router.push('/tables')
  //   // }.bind(this), 0); 
  //   this.fillData();
  // }
};
</script>

<style src="./ONS-1510.scss" lang="scss" />