<template>
    <div>
        <model-stl :backgroundAlpha="0"
                  :backgroundColor="'#13ce66'"
        @on-load="onLoad"
        src="static/models/stl/kuka.stl"></model-stl>
    </div>
</template>

<script>
/* eslint-disable*/
import { ModelObj, ModelStl } from 'vue-3d-model';
export default {
    data () {
            return {
                rotation: {
                    x: -Math.PI / 2,
                    y: 0,
                    z: 0
                }
            }
        },
        methods: {
            onLoad () {
                this.rotate();
            },
            rotate () {
                this.rotation.z -= 0.01;
                requestAnimationFrame( this.rotate );
            }
        },
        components: {
            ModelObj,
            ModelStl
        }
}
</script>