<template>
    <div id="chart">
        <b-row>
            <b-col lg="4">
            </b-col>
            <b-col lg="4">
            </b-col>
            <b-col lg="4">
        <!-- date -->
        <b-row>
        <b-col lg="8">
             <date-picker v-model="date" range lang="en" format="YYYY-MM-DD" confirm></date-picker>
        </b-col>
        <b-col lg="4">
             <md-button class="md-icon-button md-dense md-raised md-primary" @click="getData">
                <md-icon>cached</md-icon>
            </md-button>
        </b-col>
        </b-row>
        <!-- date -->
            </b-col>
        </b-row>
      <apexchart type=area height=350 :options="chartOptions" :series="series" />
    </div>
</template>
<script>
/* eslint-disable */
import Vue from 'vue';
import axios from 'axios';
import VueApexCharts from 'vue-apexcharts';
import DatePicker from 'vue2-datepicker'
import { string } from '@amcharts/amcharts4/core';

export default {
       components: {
        DatePicker,
        apexchart: VueApexCharts,
      },
      data: function(){
          return {
              date: new Date().toISOString().toString().slice(0,10),
              startDate: "2019-08-22",
              endDate: new Date().toISOString().toString().slice(0,10),
        series: [{
          name: 'Pressure',
          data: []
        }],
        chartOptions: {
          dataLabels: {
            enabled: false
          },
          colors: ['#546E7A'],
            stroke: {
              width: 2
            },
        //   stroke: {
        //     curve: 'stepline'
        //   },
          xaxis: {
            type: 'datetime',
            // categories: ["2018-09-19T00:00:00", "2018-09-19T01:30:00", "2018-09-19T02:30:00",
            //   "2018-09-19T03:30:00", "2018-09-19T04:30:00", "2018-09-19T05:30:00",
            //   "2018-09-19T06:30:00"
            // ],
          },
          tooltip: {
            x: {
              format: 'dd/MM/yy HH:mm'
            },

          }
        }
          }
      },
      methods: {
          async getData() {
            var x;
            var y;
            var array; 
            // var date = new Date().toISOString().toString().slice(0,10);
            if (typeof(this.date) != 'string' ){
                this.startDate = this.date[0].toISOString().toString().slice(0,10);
                console.log(this.startDate);
            }
            if (typeof(this.date) != 'string' ){
                this.endDate = this.date[1].toISOString().toString().slice(0,10);
                console.log(this.endDate);
            }
            try{
                var array = [[]]
                let res = await axios.get('/api/iottsaggregates/v3/aggregates/71e0abcf827a4d9fac9bf389f1551959/demo?from='+ this.startDate +'T00:00:00%2B01:00&to='+ this.endDate +'T23:00:00%2B01:00&intervalValue=1&intervalUnit=hour&select=Pressure');
                var data = res.data;
                console.log(data);
                this.series[0].data = [];
                for(var i=0;i<data.length;++i){
                    x = data[i].endtime;
                  if("Pressure" in data[i]) {
                    y = data[i]["Pressure"].maxvalue;
                    y = Math.floor(y * 100)/100;
                    this.series[0].data.push([x,y]);
                  }
                }
                return array;
            }catch(err) {
                console.log(err);
            }
        }
      },created() {
          this.getData();
      },
    }
</script>