<template>
   <div id="realdiv" ref="realdiv">
  </div>
</template>
<script>
/* eslint-disable */
import Vue from 'vue';
import axios from 'axios';
import * as am4core from "@amcharts/amcharts4/core";
import * as am4charts from "@amcharts/amcharts4/charts";
import am4themes_animated from "@amcharts/amcharts4/themes/animated";
import VueApexCharts from 'vue-apexcharts';

am4core.useTheme(am4themes_animated);
    export default {
        data: function() {
            return {
                series: [{
                    "time": "1930",
                    "voltage": 1,
                    "tempature": 5,
                    "pressure": 3
                    }, {
                    "time": "1934",
                    "voltage": 1,
                    "tempature": 2,
                    "pressure": 6
                    }, {
                    "time": "1938",
                    "voltage": 2,
                    "tempature": 3,
                    "pressure": 1
                    }, {
                    "time": "1950",
                    "voltage": 3,
                    "tempature": 4,
                    "pressure": 1
                    }, {
                    "time": "1954",
                    "voltage": 5,
                    "tempature": 1,
                    "pressure": 2
                    }, {
                    "time": "1958",
                    "voltage": 3,
                    "tempature": 2,
                    "pressure": 1
                    }, {
                    "time": "1962",
                    "voltage": 1,
                    "tempature": 2,
                    "pressure": 3
                    }, {
                    "time": "1966",
                    "voltage": 2,
                    "tempature": 1,
                    "pressure": 5
                    }, {
                    "time": "1970",
                    "voltage": 3,
                    "tempature": 5,
                    "pressure": 2
                    }, {
                    "time": "1974",
                    "voltage": 4,
                    "tempature": 3,
                    "pressure": 6
                    }, {
                    "time": "1978",
                    "voltage": 1,
                    "tempature": 2,
                    "pressure": 4
                    }]
            }
        },
        created() {
            this.getData();
        },
        mounted() {
        },
        methods: {
        createChart() {
            let chart = am4core.create("realdiv", am4charts.XYChart);

            // Add data
            chart.data = this.series;

           // Create category axis
            let categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
            categoryAxis.dataFields.category = "time";
            categoryAxis.renderer.opposite = true;

            // Create value axis
            let valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
            valueAxis.renderer.inversed = true;
            valueAxis.title.text = "Place taken";
            valueAxis.renderer.minLabelPosition = 0.01;

            // Create series
            let series1 = chart.series.push(new am4charts.LineSeries());
            series1.dataFields.valueY = "voltage";
            series1.dataFields.categoryX = "time";
            series1.name = "Voltage";
            series1.strokeWidth = 3;
            series1.bullets.push(new am4charts.CircleBullet());
            series1.tooltipText = "Place taken by {name} in {categoryX}: {valueY}";
            series1.legendSettings.valueText = "{valueY}";
            series1.visible  = false;

            let series2 = chart.series.push(new am4charts.LineSeries());
            series2.dataFields.valueY = "tempature";
            series2.dataFields.categoryX = "time";
            series2.name = 'Tempature';
            series2.strokeWidth = 3;
            series2.bullets.push(new am4charts.CircleBullet());
            series2.tooltipText = "Place taken by {name} in {categoryX}: {valueY}";
            series2.legendSettings.valueText = "{valueY}";

            let series3 = chart.series.push(new am4charts.LineSeries());
            series3.dataFields.valueY = "pressure";
            series3.dataFields.categoryX = "time";
            series3.name = 'Pressure';
            series3.strokeWidth = 3;
            series3.bullets.push(new am4charts.CircleBullet());
            series3.tooltipText = "Place taken by {name} in {categoryX}: {valueY}";
            series3.legendSettings.valueText = "{valueY}";

            // Add chart cursor
            chart.cursor = new am4charts.XYCursor();
            // chart.cursor.behavior = "zoomY";

            // Add legend
            chart.legend = new am4charts.Legend();
        },
        async getData() {
            var x;
            var y;
            var data = [];
            var date = new Date().toISOString().toString().slice(0,10);
            try{
                let res = await axios.get('/api/iottsaggregates/v3/aggregates/ed68e42a946441bc8b2a2a54ebb174b2/aspect_Virtual_Motor_Condition?from='+ date +'T00:00:00%2B01:00&to='+ date +'T23:00:00%2B01:00&intervalValue=1&intervalUnit=hour&select=Motor_Temp');
                data = res.data;
                this.series = [];
                for(var i=0;i<data.length;++i){
                  if("Motor_Temp" in data[i]) {
                        x = data[i]["Motor_Temp"].lasttime;
                        y = data[i]["Motor_Temp"].average;
                        x = x.toString().slice(11,16);
                        var obj ={
                            "time": x,
                            "voltage": y,
                            "tempature": y - 10,
                            "pressure": y + 10
                            }
                        this.series.push(obj);
                        console.log("added");
                  }
                }
                this.createChart();
            }catch(err) {
                console.log(err);
            }
            setTimeout(this.getData, 10000);
        }
        }
    }
</script>
<style scoped>
/* body {
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 97vh;
  font-size:0.9em;
  max-height:600px;
   } */

#realdiv {
  width: 100%;
  height: 500px;
}
</style>