<template>
    <div id="chart">
      <apexchart type=radialBar height=350 :options="chartOptions" :series="series" />
      <b-progress variant="success" :value="100"
            :max="100" class="bg-gray-lighter progress-xs" />
        <p v-if="difference>0">
           <small>
              <span  class="circle bg-warning text-white">
                  <i class="fa fa-chevron-up" />
              </span>
            </small>
            <span class="fw-semi-bold">&nbsp;{{ difference}}&nbsp;°C&nbsp;  higher</span>
            &nbsp;than standard
        </p>
        <p v-if="difference==0">
           <small>
              <span  class="circle bg-warning text-white">
                  <i class="fa fa-chevron" />
              </span>
            </small>
            <span class="fw-semi-bold">&nbsp; Same</span>
            &nbsp;with standard
        </p>
        <p v-if="difference<0">
           <small>
              <span  class="circle bg-warning text-white">
                  <i class="fa fa-chevron-down" />
              </span>
            </small>
            <span class="fw-semi-bold">&nbsp; {{ difference}}&nbsp;°C&nbsp; lower</span>
            &nbsp;than standard
        </p>
    </div>
</template>
<script>
/* eslint-disable */
import Vue from 'vue';
import VueApexCharts from 'vue-apexcharts';
import axios from "axios";

var data = '';
var series =[];
export default {
    components: {
        apexchart: VueApexCharts,
      },
      data: function() {
        return {
        difference: 0,
        data,
        series,
        chartOptions: {
          chart: {
            toolbar: {
              show: true
            }
          },
          plotOptions: {
            radialBar: {
              startAngle: -135,
              endAngle: 225,
              hollow: {
                margin: 0,
                size: '70%',
                background: '#fff',
                position: 'front',
                dropShadow: {
                  enabled: true,
                  top: 3,
                  left: 0,
                  blur: 4,
                  opacity: 0.24
                }
              },
              track: {
                background: '#fff',
                strokeWidth: '67%',
                margin: 0, // margin is in pixels
                dropShadow: {
                  enabled: true,
                  top: -3,
                  left: 0,
                  blur: 4,
                  opacity: 0.35
                }
              },

              dataLabels: {
                name: {
                  offsetY: -10,
                  show: true,
                  color: '#888',
                  fontSize: '17px'
                },
                value: {
                  formatter: function (val) {
                    return parseInt(val) + " °C";
                  },
                  color: '#111',
                  fontSize: '36px',
                  show: true,
                }
              }
            }
          },
          fill: {
            type: 'gradient',
            gradient: {
              shade: 'dark',
              type: 'horizontal',
              shadeIntensity: 0.5,
              gradientToColors: ['#ABE5A1'],
              inverseColors: true,
              opacityFrom: 1,
              opacityTo: 1,
              stops: [0, 100]
            }
          },
          stroke: {
            lineCap: 'round'
          },
          labels: ['Temperature'],
        }
      }
    },
    methods: {
        async getData() {
            // var array = [];
            try {
                this.series = [];
                this.chartOptions.fill.gradientToColors = [];
                let res = await axios.get('/api/iottimeseries/v3/timeseries/71e0abcf827a4d9fac9bf389f1551959/demo');
                var data = res.data
                this.series.push(data[0]["Temperature"]);
                if (data[0]["Temperature"] >= 25) {
                  this.chartOptions.fill.gradientToColors = '#FF0000';
                }
                if (data[0]["Temperature"] < 25) {
                  this.chartOptions.fill.gradientToColors = '#ABE5A1'
                }
                this.difference = Math.floor((data[0]["Temperature"] - 25 ) * 100) / 100;
                this.$store.commit('setData', data[0]["Temperature"]);
            }catch(err) {
                console.log(err);
            }

            setTimeout(this.getData, 10000);
        }
    },
    created() {
        this.getData();
    }
}
</script>