<template>
    <div id="chart">
        <b-row>
            <b-col lg="4">
            </b-col>
            <b-col lg="4">
            </b-col>
            <b-col lg="4">
        <!-- date -->
        <b-row>
        <b-col lg="8">
             <date-picker v-model="date" range lang="en" format="YYYY-MM-DD" confirm></date-picker>
        </b-col>
        <b-col lg="4">
             <md-button class="md-icon-button md-dense md-raised md-primary" @click="getData">
                <md-icon>cached</md-icon>
            </md-button>
        </b-col>
        </b-row>
        <!-- date -->
            </b-col>
        </b-row>
<div id="chart">
      <apexchart type=line height=350 :options="chartOptions" :series="series" />
    </div>
     </div>
</template>
<script>
/* eslint-disable */
import Vue from 'vue';
import axios from 'axios';
import VueApexCharts from 'vue-apexcharts';
import DatePicker from 'vue2-datepicker'
import { string } from '@amcharts/amcharts4/core';

export default {
       components: {
        DatePicker,
        apexchart: VueApexCharts,
      },
      data: function(){
          return {
              date: new Date().toISOString().toString().slice(0,10),
              startDate: '2019-08-22',
              endDate: new Date().toISOString().toString().slice(0,10),
        series: [{
          name: 'Temperature',
          type: 'column',
          data: []
          },
          {
          name: 'Max',
          type: 'column',
          data: []
          },
          {
          name: 'Min',
          type: 'column',
          data: []
          },
        ],
        chartOptions: {
          chart: {
            stacked: false,
          },
          stroke: {
            width: [3, 3, 3],
            // curve: 'smooth'
          },
          plotOptions: {
            // bar: {
            //   columnWidth: '50%'
            // }
          },

          fill: {
            opacity: [0.85, 1, 0.25],
            gradient: {
              inverseColors: false,
              shade: 'light',
              type: "vertical",
              opacityFrom: 0.85,
              opacityTo: 0.55,
              stops: [0, 100, 100, 100]
            }
          },
          // labels: [
          // ],
          markers: {
            size: 0
          },
          xaxis: {
            type: 'datetime'
          },
          // yaxis: {
          //   title: {
          //     text: 'Degree',
          //   },
          //   min: 0
          // },
          tooltip: {
            shared: true,
            intersect: false,
            y: {
              formatter: function (y) {
                if (typeof y !== "undefined") {
                  return y + " °C";
                }
                return y;

              }
            }
          }
        }
          }
      },
      methods: {
          async getData() {
            var x;
            var y;
            var max;
            var min;
            var last;
            var array; 
            // var date = new Date().toISOString().toString().slice(0,10);
            if (typeof(this.date) != 'string' ){
                this.startDate = this.date[0].toISOString().toString().slice(0,10);
                console.log(this.startDate);
            }
            if (typeof(this.date) != 'string' ){
                this.endDate = this.date[1].toISOString().toString().slice(0,10);
                console.log(this.endDate);
            }
            try{
                var array = [[]]
                let res = await axios.get('/api/iottsaggregates/v3/aggregates/71e0abcf827a4d9fac9bf389f1551959/demo?from='+ this.startDate +'T00:00:00%2B01:00&to='+ this.endDate +'T23:00:00%2B01:00&intervalValue=1&intervalUnit=hour&select=Temperature');
                var data = res.data;
                this.series[0].data = [];
                this.series[1].data = [];
                this.series[2].data = [];
                this.chartOptions.labels = [];
                for(var i=0;i<data.length;++i){
                  x = data[i].endtime;
                  if("Temperature" in data[i]) {
                    y = data[i]["Temperature"].average;
                    max = data[i]["Temperature"].maxvalue;
                    min = data[i]["Temperature"].minvalue;
                    y = Math.floor(y * 100)/100
                    max = Math.floor(max * 100)/100
                    min = Math.floor(min * 100)/100
                    this.series[0].data.push([x,y]);
                    this.series[1].data.push([x,max]);
                    this.series[2].data.push([x,min]);
                    // this.chartOptions.labels.push(x);

                  }
                }
                return array;
            }catch(err) {
                console.log(err);
            }
        }
      },created() {
          this.getData();
      },
    }
</script>