<template>
   <div id="linechart3" ref="linechart3">
  </div>
</template>
<script>
/* eslint-disable */
import Vue from 'vue';
import * as am4core from "@amcharts/amcharts4/core";
import * as am4charts from "@amcharts/amcharts4/charts";
import am4themes_animated from "@amcharts/amcharts4/themes/animated";

am4core.useTheme(am4themes_animated);
    export default {
        mounted() {
           var chart = am4core.create("linechart3", am4charts.XYChart);
                chart.paddingRight = 20;

                var data = [];
                var price1 = 1000, price2 = 1200;
                var quantity = 30000;
                for (var i = 0; i < 10; i++) {
                price1 += Math.round((Math.random() < 0.5 ? 1 : -1) * Math.random() * 100);
                data.push({ date1: new Date(2015, 0, i), price1: price1 });
                }
                for (var i = 0; i < 10; i++) {
                price2 += Math.round((Math.random() < 0.5 ? 1 : -1) * Math.random() * 100);
                data.push({ date2: new Date(2017, 0, i), price2: price2 });
                }

                chart.data = data;

                var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
                dateAxis.renderer.grid.template.location = 0;
                dateAxis.renderer.labels.template.fill = am4core.color("#e59165");

                var dateAxis2 = chart.xAxes.push(new am4charts.DateAxis());
                dateAxis2.renderer.grid.template.location = 0;
                dateAxis2.renderer.labels.template.fill = am4core.color("#2368dd");

                var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
                valueAxis.tooltip.disabled = true;
                valueAxis.renderer.labels.template.fill = am4core.color("#e59165");

                valueAxis.renderer.minWidth = 60;

                var valueAxis2 = chart.yAxes.push(new am4charts.ValueAxis());
                valueAxis2.tooltip.disabled = true;
                valueAxis2.renderer.grid.template.strokeDasharray = "2,3";
                valueAxis2.renderer.labels.template.fill = am4core.color("#2368dd");
                valueAxis2.renderer.minWidth = 60;

                // var series = chart.series.push(new am4charts.LineSeries());
                // series.name = "2016";
                // series.dataFields.dateX = "date1";
                // series.dataFields.valueY = "price1";
                // series.tooltipText = "{valueY.value}";
                // series.fill = am4core.color("#e59165");
                // series.stroke = am4core.color("#e59165");
                // series.strokeWidth = 3;

                var series2 = chart.series.push(new am4charts.LineSeries());
                series2.name = "Production";
                series2.dataFields.dateX = "date2";
                series2.dataFields.valueY = "price2";
                series2.yAxis = valueAxis2;
                series2.xAxis = dateAxis2;
                series2.tooltipText = "{valueY.value}";
                series2.fill = am4core.color("#2368dd");
                series2.stroke = am4core.color("#2368dd");
                series2.strokeWidth = 4;

                chart.cursor = new am4charts.XYCursor();
                chart.cursor.xAxis = dateAxis2;

                var scrollbarX = new am4charts.XYChartScrollbar();
                scrollbarX.series.push(series);
                chart.scrollbarX = scrollbarX;

                chart.legend = new am4charts.Legend();
                chart.legend.parent = chart.plotContainer;
                chart.legend.zIndex = 100;

                valueAxis2.renderer.grid.template.strokeOpacity = 0.07;
                dateAxis2.renderer.grid.template.strokeOpacity = 0.07;
                dateAxis.renderer.grid.template.strokeOpacity = 0.07;
                valueAxis.renderer.grid.template.strokeOpacity = 0.07;

        }
    }
</script>
<style scoped>
body {
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 97vh;
  font-size:0.9em;
  max-height:600px;
   }

#linechart3 {
  width: 100%;
  height: 300px;
}
</style>