<template>
 <div id="chart">
   <b-row>
     <h3>
       <md-button @click.native="show = true">P1</md-button>
       <md-button @click.native="show = false">P2</md-button>
       <!-- <a >P1</a>|<a @click.native="show = false">P2</a> -->
       </h3>
   </b-row>
    <b-row v-if="show">
        <b-col lg="3" xs="12">
          <center>
          <apexchart type=radialBar height=225 :options="chartOptions" :series="series1" />
          <h3><b>J1[%]</b></h3>
          </center>
        </b-col>
        <b-col lg="3" xs="12">
          <center>
          <apexchart type=radialBar height=225 :options="chartOptions" :series="series2" />
          <h3><b>J2[%]</b></h3>
          </center>        </b-col>
        <b-col lg="3" xs="12">
          <center>
          <apexchart type=radialBar height=225 :options="chartOptions" :series="series3" />
          <h3><b>J3[%]</b></h3>
          </center>
        </b-col>
        <b-col lg="3" xs="12">
          <center>
          <apexchart type=radialBar height=225 :options="chartOptions" :series="series4" />
          <h3><b>J4[%]</b></h3>
          </center>
        </b-col>
    </b-row>
      <b-row v-if="!show">
        <b-col lg="3" xs="12">
          <center>
          <apexchart type=radialBar height=225 :options="chartOptions" :series="series5" />
          <h3><b>J5[%]</b></h3>
          </center>
        </b-col>
        <b-col lg="3" xs="12">
          <center>
          <apexchart type=radialBar height=225 :options="chartOptions" :series="series6" />
          <h3><b>J6[%]</b></h3>
          </center>
        </b-col>
        <b-col lg="3" xs="12">
          <center>
          <apexchart type=radialBar height=225 :options="chartOptions" :series="series7" />
          <h3><b>J7[%]</b></h3>
          </center>
        </b-col>
        <b-col lg="3" xs="12">
        </b-col>
    </b-row>
 </div>
</template>
<script>
/* eslint-disable */
    import Vue from 'vue';
    import VueApexCharts from 'vue-apexcharts';
    import axios from "axios";
export default {
     components: {
        apexchart: VueApexCharts,
      },
      data: function() {
        return {
        show:true,
        series1: [75],
        series2: [22],
        series3: [22],
        series4: [22],
        series5: [22],
        series6: [22],
        series7: [22],
        chartOptions: {
          // chart: {
          //   toolbar: {
          //     show: true
          //   }
          // },
          plotOptions: {
            radialBar: {
              startAngle: 0,
              endAngle: 360,
              hollow: {
                margin: 0,
                size: '70%',
                background: '#fff',
                position: 'front',
                dropShadow: {
                  enabled: true,
                  top: 3,
                  left: 0,
                  blur: 4,
                  opacity: 0.24
                }
              },
              track: {
                background: '#fff',
                strokeWidth: '100%',
                margin: 0, // margin is in pixels
                dropShadow: {
                  enabled: true,
                  top: -3,
                  left: 0,
                  blur: 4,
                  opacity: 0.35
                }
              },

              dataLabels: {
                name: {
                  offsetY: -10,
                  show: true,
                  color: '#888',
                  fontSize: '17px'
                },
                value: {
                  formatter: function (val) {
                    return parseInt(val);
                  },
                  color: '#111',
                  fontSize: '36px',
                  show: true,
                }
              }
            }
          },
          fill: {
            colors: ['#FFA500']
            // type: 'gradient',
            // gradient: {
            //   shade: 'dark',
            //   type: 'horizontal',
            //   shadeIntensity: 0.5,
            //   gradientToColors: ['#FFA500'],
            //   inverseColors: true,
            //   opacityFrom: 1,
            //   opacityTo: 1,
            //   stops: [0, 100]
            // }
          },
          stroke: {
            lineCap: 'round'
          },
          labels: ['Percent'],
        }
        }
      },
      methods: {
        async getData() {
          try {
            let res = await axios.get('/api/iottimeseries/v3/timeseries/046675f41c5c4c54ba60fe8a2627a5f5/KC_KUKA_Aspect');
            var data = res.data[0];
            var torque1 = data.Torque1;
            if(torque1 != this.series1[0]) {
            this.series1 = [];
            this.series1.push(Math.round(torque1 * 100)/100);
            }
            var torque2 = data.Torque2;
            if(torque2 != this.series2[0]) {
            this.series2 = [];
            this.series2.push(Math.round(torque2 * 100)/100);
            }
            var torque3 = data.Torque3;
            if(torque3 != this.series3[0]) {
            this.series3 = [];
            this.series3.push(Math.round(torque3 * 100)/100);
            }
            var torque4 = data.Torque4;
            if(torque4 != this.series4[0]) {
            this.series4 = [];
            this.series4.push(Math.round(torque4 * 100)/100);
            }
            var torque5 = data.Torque5;
            if(torque5 != this.series5[0]) {
            this.series5 = [];
            this.series5.push(Math.round(torque5 * 100)/100);
            }
            var torque6 = data.Torque6;
            if(torque6 != this.series6[0]) {
            this.series6 = [];
            this.series6.push(Math.round(torque6 * 100)/100);
            }
            var torque7 = data.Torque7;
            if(torque7 != this.series7[0]) {
            this.series7 = [];
            this.series7.push(Math.round(torque7 * 100)/100);
            }
          } catch (err) {
              console.log(err);
          }
          setTimeout(this.getData, 30000);
        }
      },
      created() {
        this.getData();
      }
}
</script>