<template>
<div>
  <router-view />
  <!-- <BlockUI :message="msg"
             v-show="spinnerStatus">
        <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
  </BlockUI>   -->
</div>
</template>

<script>
/* eslint-disable */
import axios from "axios";

export default {
  name: 'App',
  data () {
    return {
      msg: "Loading...",
      spinnerStatus: false
    }
  },
  beforeCreate() {
     this.$store.commit('getToken');
    let $vue = this;
    axios.interceptors.request.use(
      function(config) {
        $vue.spinnerStatus = true;
        return config;
      },
      function(error) {
        $vue.spinnerStatus = false;
        return Promise.reject(error);
      }
    );
    // Add a response interceptor
    axios.interceptors.response.use(
      function(response) {
        setTimeout(function() {
          $vue.spinnerStatus = false;
        }, 3000);
        return response;
      },
      function(error) {
        $vue.spinnerStatus = false;
        return Promise.reject(error);
      }
    );
    const currentPath = this.$router.history.current.path;

    // if (window.localStorage.getItem('authenticated') === 'false') {
    //   this.$router.push('/login');
    // }

    if (currentPath === '/' || currentPath === '/app') {
      this.$router.push('/app/dashboard');
    }
    },
    methods: {
    },
    created() {
        // this.getToken();
        
    },
    mounted() {
      // this.$store.commit('getEvents');
    }
  };
  </script>

<style src="./styles/theme.scss" lang="scss" />
